# IDE / Editor
.idea/
.vs/

# Build directories & compilation artifacts
cmake-build-*/
build/
out/
build_vs2022/
build_release/
*.exe
*.obj
*.dll
*.lib
*.pdb
*.exp
*.ilk
*.test
*.opt

# Model weights & datasets
instructions.md
*.txt
*.bin
*.ps1
build_msvc/